@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Montserrat;
        font-size: 12px;
        color: #222A22;
    }
    ::selection {
        color: #FDFDFD;
        background-color: #347E32;
    }
    .profile-img {
        aspect-ratio: 1/1;
    }
    .profile-img img {
        object-fit: cover;
    }
    .slider-wrapper {
        position: relative;
        margin: 0 auto;
    }
    .slider {
        aspect-ratio: 16/9;
    }
    .slider img {
        border-radius: 0.5rem;
        position: absolute;
        object-fit: cover; 
        padding:0 0.5rem 0;
        height: 100%;
        left: 50%;
        transform: translate(-50%);
    }
    .preview {
        margin: 0 auto;
    }
    .tags {
        column-count: 2;
        column-gap: 50px;
    }
    .ReactTags__tags {
        position: relative;
    }
    .ReactTags__tagInput {
        width: 200px;
        border-radius: 2px;
        display: inline-block;
    }
    .ReactTags__tagInput input.ReactTags__tagInputField,
    .ReactTags__tagInput input.ReactTags__tagInputField:focus {
        height: 31px;
        margin: 0;
        font-size: 12px;
        width: 100%;
        border: 1px solid #eee;
        padding: 0 4px;
    }
    
    .ReactTags__selected span.ReactTags__tag {
        border: 1px solid #ddd;
        background: #eee;
        font-size: 13px;
        display: inline-block;
        padding: 6px;
        margin: 0 5px 5px 5px;
        cursor: default !important;
        border-radius: 2px;
    }
    .ReactTags__selected a.ReactTags__remove {
        color: #9c9c9c;
        margin-left: 5px;
        cursor: pointer;
    }
    
    /* Styles for suggestions */
    .ReactTags__suggestions {
        position: absolute;
        color: #000 !important;
        font-weight: normal !important;
        font-size: 14px !important;
    }
    .ReactTags__suggestions ul {
        list-style-type: none;
        box-shadow: .05em .01em .5em rgba(0,0,0,.2);
        background: white;
        width: 200px;
    }
    .ReactTags__suggestions li {
        border-bottom: 1px solid #ddd;
        padding: 15px 10px;
        margin: 0;
    }
    .ReactTags__suggestions li mark {
        text-decoration: underline;
        background: none;
        font-weight: 600;
    }
    .ReactTags__suggestions ul li.ReactTags__activeSuggestion {
        background: #b7cfe0;
        cursor: pointer;
    }
}